<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800768879801-5c90bu267g38qgfrfhrkohlu08e81i10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800768879801-5c90bu267g38qgfrfhrkohlu08e81i10</string>
	<key>API_KEY</key>
	<string>AIzaSyA3uB_XW-XhND43GUi2Koim55YPHbzT3eY</string>
	<key>GCM_SENDER_ID</key>
	<string>800768879801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hellowm</string>
	<key>PROJECT_ID</key>
	<string>hello-wm</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-wm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800768879801:ios:f0973602408b8a5a407f68</string>
</dict>
</plist>